<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/updateData" method="post">
        <input id="usName" type="text" required name="name" placeholder="Please type your name" value="<%= obj.name %>"><br><br>
        <input id="usSurname" type="text" required name="surname" placeholder="Please type your surname" value="<%= obj.surname %>"><br><br>
        <input id="usAge" type="date" name="age" placeholder="Please type your age" value="<%= obj.age %>"><br><br>
        <input id="usPassword" type="password" name="password" placeholder="Please type your password" value="<%= obj.password %>"><br><br>
        <input id="usPhoneNumber" type="phonenumber" name="phonenumber" placeholder="Please type your phonenumber" value="<%= obj.phonenumber %>"><br><br>
        <input id="usEmail" type="email" name="email" placeholder="Please type your email" value="<%= obj.email %>"><br><br>
        <input type="hidden" name='id' value="<%= obj._id %>"/>
        <input type="submit" >
    </form>
</body>
</html>